.home {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.homeTitleImageWrapper {
	width: 90%;
	display: flex;
	justify-content: center;
}
.homeTitleImage {
	width: 100%;
	height: 223px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-image: url("../../assets/backgroundTitle.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	mix-blend-mode: darken;
	filter: brightness(70%);
	border-radius: 25px;
	color: #ffff;
	font-size: 48px;
	font-weight: 500;
}
.homeTitle {
	width: 60%;
	color: #ffff;
	font-size: 48px;
	font-weight: 500;
	position: absolute;
	top: 250px;
	text-align: center;
}

.leaseCards {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: #f7f7f7;
	margin-top: 40px;
	border-radius: 25px;
}

@media only screen and (max-width: 992px) {
	.homeTitle {
		font-size: 36px;
	}
}

@media only screen and (max-width: 768px) {
	.leaseCards {
		width: 90%;
		background-color: #ffff;
	}
	.homeTitle {
		font-size: 28px;
	}
}

@media only screen and (max-width: 600px) {
	.home {
		width: 100%;
	}
	.homeTitle {
		font-size: 24px;
		top: 200px;
		width: 217px;
		text-align: left;
	}
	.homeTitleImage {
		height: 111px;
		background-position: 40% 100%;
	}
}

@media only screen and (max-width: 374px) {
	.home {
		width: 100%;
	}
	.homeTitle {
		font-size: 16px;
		top: 200px;
	}
	.leaseCards {
		width: 100%;
		flex-direction: column;
		margin-left: 0px;
	}
	.homeTitleImage {
		height: 80px;
		background-image: url("../../assets/backgroundTitleMini.jpg");
		background-repeat: no-repeat;
		background-size: cover;
	}
}
