a {
	text-decoration: none;
	color: #000;
}

.header {
	width: 1240px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 171px;
}

.logo {
	width: 210.32px;
	height: 68px;
}

.links {
	margin: 0 0 10px 10px;
	font-size: 24px;
	font-weight: 500;
	line-height: 34.22px;
}

.linkAbout {
	margin-left: 57px;
	color: rgba(255, 96, 96, 1);
}
.linkHome {
	color: rgba(255, 96, 96, 1);
}
.underlineLinkHome {
	color: rgba(255, 96, 96, 1);
	text-decoration: underline;
}
.underlineLinkAbout {
	margin-left: 57px;
	color: rgba(255, 96, 96, 1);
	text-decoration: underline;
}
@media only screen and (max-width: 1240px) {
	.header {
		width: 992px;
	}
}

@media only screen and (max-width: 992px) {
	.header {
		width: 768px;
	}
}

@media only screen and (max-width: 768px) {
	.header {
		width: 600px;
	}
}

@media only screen and (max-width: 600px) {
	.header {
		width: 375px;
	}
	.links {
		font-size: 12px;
		line-height: 17.11px;
	}
	.logo {
		width: 145px;
		height: 47px;
	}
}

@media only screen and (max-width: 374px) {
	.header {
		width: 100%;
	}
	.links {
		font-size: 12px;
		line-height: 17.11px;
	}
	.logo {
		width: 125px;
		height: 40px;
	}
	.linkAbout {
		margin-left: 20px;
	}
}
